@page "/extra-info"

<PageTitle>Other Notes</PageTitle>

<style>
    li{
        margin-top: 10px;
    }
</style>

<h3>Other information about this website:</h3>
<ul>
    <li>© Copyright 2022, Jay Ambadkar</li>
    <li>If I have time, updates may come to increase features and make the site look a bit nicer</li>
    <li>Any reproduction of this website or its assets by the author's kind permission only</li>
    <li>There may still be some unresolved bugs, please forgive</li>
    <li>Credit to OCR for the linked Latin GCSE Specification</li>
    <li>Credit to Mrs Ward for teaching me this great subject in the first place</li>
    <li>Disclaimer: this website does not purport to be any kind of comprehensive guide to the Latin language. For that I would recommend such textbooks as <a href="https://www.bloomsbury.com/uk/latin-to-gcse-part-2-9781780934419/" target="_blank">John Taylor's Latin to GCSE</a>.</li>
    <li>If you are interested, the source code can be seen on <a href="https://github.com/ThatJammyDodger/latin-gcse" target="_blank">Github</a>.</li>
</ul>

@code {

}
