@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.ocr.org.uk/qualifications/gcse/latin-j282-from-2016/" target="_blank">OCR Latin J282 Specification</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
